.drop{
  width: 400px;
  height: 50px;
}

.menu{
  width: 400px;
  height: 200px;
}

.container{
  height: 750px;
}

.block{
  height: 230px;
  width: 33%;
  margin-left: 960px;
}

.menubar{
  height: 740px;
}

.algo-container{
  height: 500px;
  width: 1300px;

}

.name{
  width: 1000px;
}

.def{
  width: 70%;
}

.graph{
  height: 280px;
}
